@charset "utf-8";
html {
    font-size: 100%;
}
body {
    color: #f6f7f8;
    font-size: 16px;
    background-image: radial-gradient(circle, #254449, #375a5b, #4b716c, #63887c, #7ea08c, #83a28a, #88a488, #8ea686, #7c9472, #6b825e, #5b714b, #4b6039);
    letter-spacing: 0.05em;
    line-height: 1.8;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
}
/*リンク先カラー*/
a {
    text-decoration: none;
    color: #f6f7f8;
    font-weight: bold;
    outline-width: 0;
}
/*画像設定*/
img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
li {
    list-style: none;
}
/*sec-title.共通*/
.sec_title {
    padding: 100px 0 50px 0;
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
}
/*コンテンツ共通*/
.wrapper {
    max-width: 1080px;
    padding: 0 4%;
    margin: 0 auto;
}
.container {
    text-align: center;
    padding: 70px 0 20px 0;
}
/*------------------------------------
-------------- link-btn --------------
------------------------------------*/
.link_btn {
    display: inline-block;
    text-align: center;
    background-color: #254449;
    border: 3px solid #254449;
    color: #f6f7f8;
    border-radius: 50px;
    padding: 10px 60px;
    transition: .4s;
    cursor: pointer;
    margin: 50px 0;
}
.link_btn:hover {
    background-color: #f6f7f8;
    border-color: #f6f7f8;
    color: #254449;
}
/*------ skills.productsフェードイン処理 ------*/
/* フェードイン前 */
.js_fade {
    font-weight: lighter;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 1s,visibility 1s, transform 1s;
}
/* フェードイン後 */
.js_fade.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
/*------ ハンバーガーメニュー ------*/
.hamburger {
/*768px以下より表示する*/
    display: none;
    position: fixed;
    top: 16px; /*(初期25px)*/
    right: 60px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .5s;
    z-index: 50;
}
.hamburger.open {
    opacity: 1;
}	
/*ボタン内側*/
.hamburger span {
    position: absolute;
    display: block;
    transition: all .5s;/*アニメーションの設定*/ 
    left: 0;
    width: 30px;
    height: 1px;
    border-radius: 5px;
    background-color: #f6f7f8;
}
/*一本目*/
.hamburger span:nth-of-type(1) {
    top: 4px;
}
/*二本目*/
.hamburger span:nth-of-type(2) {
    top: 14px;
}
/*三本目*/
.hamburger span:nth-of-type(3) {
    bottom: 5px;   
}
/*activeクラスが付与されると線が回転して×に*/
.hamburger.active span:nth-of-type(1) {
    top: 7px;
    left: 1px;
    transform: translateY(5px) rotate(-315deg);
    background-color: #f6f7f8;
}
.hamburger.active span:nth-of-type(3) {
    top: 17px;
    left: 1px;
    transform: translateY(-5px) rotate(315deg);
    background-color: #f6f7f8;
}
/*１本目、３本目クロス、２本目表示しない*/
.hamburger.active span:nth-of-type(2) {
    display: none;
}
/*------------------------------------
--------------- header ---------------
------------------------------------*/
#header {
    background-color: #254449;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 20;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
#header #nav {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#header .logo {
    flex-basis: auto;
    height: 70px;
    width: 70px;
}
#nav .nav_menu {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#nav .nav-menu li {
    margin-left: 34px;
}
/*------------------------------------
--------------- top-btn --------------
------------------------------------*/
/*- スクロール700pxで表示、hoverでトップへ戻る -*/
.top_btn .btn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    background-color: #254449;
    border: solid 1px #f6f7f8;
    z-index: 60;
}
.top_btn .btn::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 9px;
    clip-path: polygon(0 200%, 50% 0, 100% 200%);
    background-color: #f6f7f8;
    height: 12px;
    width: 30px;
}
.top_btn {
    opacity: 0;
    visibility: hidden;
}
.top_btn.jump {
    opacity: 1;
    visibility: visible;
}
/*------------------------------------
------------- mainvisual -------------
------------------------------------*/
.mainvisual img {
    border-radius: 50px;
}
.mainvisual .mv_sp {
    display: none;
}
/*------------------------------------
--------------- skills ---------------
------------------------------------*/

/*Google_icon共通*/
.material-symbols-outlined { 
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/*各skill*/
#skills .sk_unit {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
}
#skills .sk_inner {
    padding: 10px 15px;
    background-color: #254449;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px #63887c;
}
#skills .sk_title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    color: #f6f7f8;
    text-shadow: 1px 1px 0 #254449, -1px -1px 0 #333, -1px 1px 0 #333, 1px -1px 0 #333, 0px 1px 0 #333, -1px 0 #333, -1px 0 0 #333, 1px 0 0 #333;
}
#skills .sk_text {
    text-align: left;
}
#skills .sk_icon {
    font-size: 5rem;
}
#skills {
    margin-bottom: 100px;
}
/*------------------------------------
-------------- products --------------
------------------------------------*/
#products .pr_unit {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(2, 2fr);
}
#products .pr_inner {
    padding: 20px 10px 0 10px;
    background-color: #254449;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .6s ease; /* ゆっくり変化させる */
    box-shadow: 0 0 2px 2px #63887c;
}
#products .pr_text {
    font-weight: bold;
}
#products .pr_inner img {
    margin-bottom: 20px;
}
#products .pr_inner:hover {
    transform: scale(1.1); /* 拡大 */
}
#products {
    margin-bottom: 100px;
}
/*------------------------------------
---------------- about ---------------
------------------------------------*/
#about .ao_unit {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
#about .ao_img {
    flex-basis: 15%;
    align-self: center;
}
#about .ao_unit img {
    border-radius: 100%;
}
#about .ao_text {
    flex-basis: 80%;
    padding:  0 20px;
    word-break: keep-all;
    text-align: left;
}
/*------------------------------------
-------- ブレークポイント.768px --------
------------------------------------*/
@media screen and (max-width: 768px) {
    /*--------------- 共通 -------------*/
    /*--- 768pxからhamburger表示 ---*/
    .hamburger {
        display: block;
    }
    /*-------------- header ------------*/
    #header {
        height: 60px;
    }
    #header .logo {
        width: 60px;
        height: 60px;
    }
    #nav .nav_menu {
        flex-direction: column;
        text-align: left;
        margin-top: 60px;
        line-height: 3;
        font-size: 1.2rem;
        font-weight: bold;
    }
    /*--- nav_menu.open-close active時表示 ---*/
    /*メニューリストのCSS【クリック前】*/
    #header .nav_menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 50vh;
        background-color: #254449;
        opacity: 0;
        overflow-y: auto;
        transition: 0.8s ease, visibility 0.6s ease;
        visibility: hidden;
        z-index: 40;
    }
    /*active時はnav_menu表示*/
    #header .nav_menu.active {
        opacity: 1;
        visibility: visible;
        right: 0;
    }
    .container {
        padding: 60px 0 20px 0;
    }
    /*-------------- skills ------------*/
    #skills .sk_unit {
        grid-template-columns: repeat(1, minmax(300px, 300px));
        place-content: center;
    }
    /*------------ products ------------*/
    #products .pr_unit {
        grid-template-columns: repeat(1, minmax(300px, 600px));
        place-content: center;      
    }
    /*-------------- about -------------*/
    #about .ao_unit {
        flex-direction: column;
    }
    #about .ao_img {
        margin-bottom: 30px;
    }
    #about .ao_text {
        word-break: normal;
    }
    /*------------- contact ------------*/
    #contact .ct_text {
        padding: 0 200px;
    }
}
/*------------------------------------
-------- ブレークポイント.425px --------
------------------------------------*/
@media screen and (max-width: 425px) {
    /*--------------- 共通 -------------*/
    .hamburger {
        right: 20px;
    }
    .sec_title {
        font-size: 2rem;
    }
    /*------------ mainvisual ----------*/
    .mainvisual .mv_pc {
        display: none;
    }
    .mainvisual .mv_sp {
        display: block;
    }
    /*-------------- about -------------*/
    #about .ao_unit {
        padding: 0;
    }
    /*------------- contact ------------*/
    #contact .ct_text {
        padding: 0 20px;
    }
}
